body {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #00080e;
    color: white;
    padding-bottom: 5px;
    margin-top: -20px;
}

span {
    padding: 10px;
}

h1 {
    font-size: 50px;
}

h2 {
    margin-left: 2%;
    color: white;
    background-color: black;
    /*padding: 20px;*/
    padding-top: 20px;
}

/*main .form {
    grid-area: form;
    grid-column: 2;
    /*float: right;
}*/

label, input {
    display: block;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    border-radius: 5px;
    width: 90%;
    height: 40px;
    background-color: whitesmoke;
    /*border: none;*/
    border-style: solid;
    border-color: rgba(184, 184, 184, 0.918);
}

ul {
    list-style: none;
}

li {
    padding-bottom: 20px;
    margin-left: -50px;
    font-size: 15px;
}

.md {
    float: left;
    width: 15.33%;
    padding: 10px;
    height: 800px;
    /*margin-bottom: 10px;*/
    background-color: rgb(188, 196, 194);
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.form {
    float: right;
    width: 45.33%;
    padding: 10px;
    margin-right: 450px;
}

#btn {
    background-color: rgb(35, 123, 206);
    border-color: rgb(28, 109, 184);
    color: white;
    /*border: none;*/
    border-style: solid;
    width: 27%;
    padding: 10px;
    border-radius: 5px;
}
